* {
  margin: 0;
  padding: 0;
  border-radius: 10px;
}
.content {
  background-color: lightblue;
  height: 200px;
  width: 200px;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}
.content img {
  border-radius: 50%;
}
